# Ignore Streamlit secrets
.streamlit/secrets.toml

# Ignore Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/

# Ignore other unwanted files
*.log
*.swp
.DS_Store

